<div class="view-page-section-container" ng-controller="DemoController as demoContrl">
	<h2>Available Demos</h2>
	
	<table style="width: 80%">
		<tr>
			<td>
				<span>Text To Speech Conversion</span>			
			</td>
			<td>
				<button id="btnTryTTS" ng-click="fnTTSDemo();">Try it!</span>
			</td>
		</tr>
		<tr>
			<td>
				<span>Do re mi fa so la ti</span>
			</td>
			<td>
				<button id="btnDoReMiFaSoLaTi" ng-click="fnTTSDemo();">Try it!</button>
			</td>
		</tr>
	</table>
	
</div>